
            {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>
                    {% if msg.tags == 'danger' %}
                        ERROR
                    {% else %}
                        {{ msg.tags|title }} 
                    {% endif %}
                </strong>

                {{ msg }}

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
        {% endif %}